*.pyc
*.bak
.DS_Store
homeless.py
playground.py
cairo_test.py
mayavi_test.py
random_scenes/
files/
ben_playground.py
ben_cairo_test.py
.floo
.flooignore
.vscode
*.xml
*.iml
media
manim.sublime-project
manim.sublime-workspace

primes.py
/media_dir.txt
