*.pyc
.DS_Store
homeless.py
ka_playgrounds/
playground.py
special_animations.py
prettiness_hall_of_fame.py
files/
out/
ben_playground.py
ben_cairo_test.py
.floo
.flooignore
*.xml
*.iml
manim.sublime-project
manim.sublime-workspace
primes.py
