Deprecated==1.2.2
Pillow==5.2.0
argparse==1.4.0
colour==0.1.5
dill==0.2.7.1
flake8==3.5.0
numpy==1.15.0
opencv-python==3.4.2.17
progressbar==2.5
pycairo==1.17.1
pytest-cov==2.5.1
pytest-mock==1.10.0
pytest==3.7.2
scipy==1.1.0
tqdm==4.24.0
