# manim.cfg
# Default configuration for manim

# Configure how manim behaves when called from the command line without
# specifying any flags
[CLI]

# Each of the following will be set to True if the corresponding CLI flag
# is present when executing manim.  If the flag is not present, they will
# be set to the value found here.  For example, running manim with the -w
# flag will set WRITE_TO_MOVIE to True.  However, since the default value
# of WRITE_TO_MOVIE defined in this file is also True, running manim
# without the -w value will also output a movie file.  To change that, set
# WRITE_TO_MOVIE = False so that running manim without the -w flag will not
# generate a movie file.  Note all of the following accept boolean values.

# -w, --write_to_movie
write_to_movie = True

# -s, --save_last_frame
# setting save_last_frame to True forces write_to_movie to False
save_last_frame = False

# -a, --write_all
write_all = False

# -g, --save_pngs
save_pngs = False

# -i, --save_as_gif
save_as_gif = False

# -p, --preview
preview = False

# -f, --show_in_file_browser
show_in_file_browser = False

# -v, --verbosity
verbosity = INFO

# --progress_bar
progress_bar = True

# --sound
sound = False

# -o, --output_file
output_file =

# --leave_progress_bars
leave_progress_bars = False

# --log_to_file
log_to_file = False

# -c, --background_color
background_color = BLACK

# --background_opacity
background_opacity = 1

# The following two are both set by the -n (or --from_animation_number)
# flag.  See manim -h for more information.
from_animation_number = 0

# Use -1 to render all animations
upto_animation_number = -1

# The following are meant to be paths relative to the point of execution.
# Set them at the CLI with the corresponding flag, or set their default
# values here.
# --media_dir
media_dir = ./media

# --log_dir
log_dir = %(media_dir)s/logs

# # --video_dir
# video_dir = %(MEDIA_DIR)s/videos

# # --tex_dir
# tex_dir = %(MEDIA_DIR)s/Tex

# # --text_dir
# text_dir = %(MEDIA_DIR)s/texts

# If the -t (--transparent) flag is used, these will be replaced with the
# values specified in the [TRANSPARENT] section later in this file.
png_mode = RGB
movie_file_extension = .mp4

# These can be overriden with any of -l (--low_quality), -m
# (--medium_quality), -e (--high_quality), or -k (--fourk_quality). The
# overriding values are found in the corresponding sections.
frame_rate = 60
pixel_height = 1440
pixel_width = 2560

# Use -1 to set max_files_cached to infinity.
max_files_cached = 100
#Flush cache will delete all the cached partial-movie-files.
flush_cache = False
disable_caching = False

# These override the previous by using -t, --transparent
[transparent]
png_mode = RGBA
movie_file_extension = .mov
background_opacity = 0

# These override the previous by using -k, --four_k
[fourk_quality]
pixel_height = 2160
pixel_width = 3840
frame_rate = 60

# These override the previous by using -e, --high_quality
[high_quality]
pixel_height = 1080
pixel_width = 1920
frame_rate = 60

# These override the previous by using -m, --medium_quality
[medium_quality]
pixel_height = 720
pixel_width = 1280
frame_rate = 30

# These override the previous by using -l, --low_quality
[low_quality]
pixel_height = 480
pixel_width = 854
frame_rate = 15

# These override the previous by using --dry_run
# Note --dry_run overrides all of -w, -a, -s, -g, -i
[dry_run]
write_to_movie = False
write_all = False
save_last_frame = False
save_pngs = False
save_as_gif = False

# Streaming settings
[streaming]
live_stream_name = LiveStream
twitch_stream_key = YOUR_STREAM_KEY
streaming_protocol = tcp
streaming_ip = 127.0.0.1
streaming_port = 2000
streaming_client = ffplay
streaming_url = %(STREAMING_PROTOCOL)s://%(STREAMING_IP)s:%(STREAMING_PORT)s?listen
streaming_console_banner = Manim is now running in streaming mode.
    Stream animations by passing them to manim.play(), e.g.
    >>> c = Circle()
    >>> manim.play(ShowCreation(c))

[logger]
logging_keyword = bold yellow
logging_level_notset = dim
logging_level_debug = green
logging_level_info = blue
logging_level_warning = red
logging_level_error = red bold
logging_level_critical = red bold reverse
log_level =
log_time = cyan dim
log_message =
log_path = dim
log_width = -1
log_height = -1
log_timestamps = True

[ffmpeg]
# Uncomment the following line to manually set the loglevel for ffmpeg. See ffmpeg manpage for accepted values
# loglevel = error
