td {
    padding: 0px 10px 0px 10px;
}

img.align-center {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.manim-video {
    width: 100%;
}

.manim-example pre {
    border-left: none;
    margin: 0;
    padding: 0 0 14px 0;
}

.manim-example {
    border-left: 2px solid #eee;
    border-radius: 4px;
    padding: 14px 0 14px 20px;
    margin: 20px 0;
}

div.example-reference {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
}
