/* Copy buttons */
button.copybtn {
    position: absolute;
    top: .3em;
    right: .5em;
    width: 1.7rem;
    height: 1.7rem;
	opacity: 0;
    transition: opacity 0.3s, border .3s;
    user-select: none;
    padding: 0;
    border: none;
    outline: none;
}

button.copybtn img {
    width: 100%;
}

div.highlight  {
    position: relative;
}

.highlight:hover button.copybtn {
	opacity: .7;
}

.highlight button.copybtn:hover {
	opacity: 1;
}

/**
 * A minimal CSS-only tooltip copied from:
 *   https://codepen.io/mildrenben/pen/rVBrpK
 *
 * To use, write HTML like the following:
 *
 * <p class="o-tooltip--left" data-tooltip="Hey">Short</p>
 */
 .o-tooltip--left {
  position: relative;
 }

 .o-tooltip--left:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 2px;
    top: 0;
    left: -.2em;
    background: grey;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transform: translateX(-102%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.o-tooltip--left:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition-delay: .5s;
}
