name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      POETRY_VIRTUALENVS_CREATE: false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Poetry
        run: |
          pip install wheel
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python

      - name: Get pip cache dir
        shell: bash
        id: pip-cache-and-time
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
          echo "::set-output name=date::$(/bin/date -u "+%m%Y")"

      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache-and-time.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-${{ matrix.python }}-${{ steps.pip-cache-and-time.outputs.date }}

      - name: Install system dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          sudo apt-get -y install texlive texlive-latex-extra texlive-fonts-extra texlive-latex-recommended texlive-science texlive-fonts-extra tipa
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH

      - name: Install system dependencies (MacOS)
        if: runner.os == 'macOS'
        run: |
          brew install openssl readline ffmpeg pyenv pyenv-virtualenv
          brew cask install basictex
          eval "$(/usr/libexec/path_helper -s)"
          sudo tlmgr update --self
          brew install pkg-config
          brew install libffi
          brew install pango
          brew install glib
          sudo tlmgr install standalone preview doublestroke relsize fundus-calligra wasysym physics dvisvgm.x86_64-darwin dvisvgm rsfs wasy cm-super
          echo "/Library/TeX/texbin" >> $GITHUB_PATH
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH

      - name: Cache Windows
        id: cache-windows
        if: runner.os == 'Windows'
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}\ManimCache
          key: ${{ runner.os }}-dependencies-ffmpeg-tinytex-${{ hashFiles('.github/manimdependency.json') }}-${{ steps.pip-cache-and-time.outputs.date }}

      - name: Download system dependencies (Windows)
        if: runner.os == 'Windows' && steps.cache-windows.outputs.cache-hit != 'true'
        run: |
          $ffmpegUrl = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['ffmpeg'])"
          $pangoVersion = python -c "import json;print(json.load(open('.github/manimdependency.json'))['windows']['pango'])"
          $tinyTexPackages = $(python -c "import json;print(' '.join(json.load(open('.github/manimdependency.json'))['windows']['tinytex']))") -Split ' '
          $OriPath = $env:PATH
          echo "Install Tinytex"
          Invoke-WebRequest "https://ci.appveyor.com/api/projects/yihui/tinytex/artifacts/TinyTeX.zip?job=image:%20Visual%20Studio%202019" -O "$($env:TMP)\TinyTex.zip"
          Expand-Archive -LiteralPath "$($env:TMP)\TinyTex.zip" -DestinationPath "$($PWD)\ManimCache\LatexWindows"
          $env:Path = "$($PWD)\ManimCache\LatexWindows\TinyTeX\bin\win32;$($env:PATH)"
          tlmgr update --self
          foreach ($c in $tinyTexPackages){
            $c=$c.Trim()
            tlmgr install $c
          }
          $env:PATH=$OriPath
          echo "Completed Latex"
          Invoke-WebRequest "$ffmpegUrl" -O "$($env:TMP)\ffmpeg.zip"
          7z x "$($env:TMP)\ffmpeg.zip" -o"$($PWD)\ManimCache"
          Move-Item "ManimCache\ffmpeg-*" "ManimCache\FFmpeg"
          Invoke-WebRequest "https://github.com/ManimCommunity/pango-windows-binaries/releases/download/$($pangoVersion)/pango-windows-binaires-x64.zip" -O "$($env:TMP)\Pango.zip"
          mkdir "$($PWD)\ManimCache\Pango"
          7z x "$($env:TMP)\Pango.zip" -o"$($PWD)\ManimCache\Pango"

      - name: Add Windows dependecies to path
        if: runner.os == 'Windows'
        run: |
          $env:Path += ";" + "$($PWD)\ManimCache\FFmpeg\bin"
          $env:Path += ";" + "$($PWD)\ManimCache\LatexWindows\TinyTeX\bin\win32"
          $env:Path += ";" + "$($PWD)\ManimCache\Pango\pango"
          $env:Path = "$env:USERPROFILE\.poetry\bin;$($env:PATH)"
          echo "$env:Path" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install manim
        run: |
          poetry install -E js_renderer

      - name: Run tests
        run: poetry run pytest

      - name: Run module doctests
        run: poetry run pytest --doctest-modules manim
